<app-modal [title]="(isEdit ? 'Edit' : 'Add') + ' column'">
  <form #form="ngForm" (ngSubmit)="onSubmit()">
    <app-input-feedback
      [isShown]="!titleRef.valid && titleRef.touched"
      feedback="Title is required"
    >
      <input
        class="input"
        placeholder="Title"
        name="title"
        required
        [(ngModel)]="title"
        #titleRef="ngModel"
        trimDirective
      />
    </app-input-feedback>

    <button class="button withIcon" [@vibrateAnimation]="vibrateState">
      <app-square-button></app-square-button>Add
    </button>
  </form>
</app-modal>
