<app-modal title="Filters" [isShown]="true">
  <div class="filters-content">
    <div class="filters-content-top">
      <strong class="filters-subtitle">Label color</strong>
      <a
        class="filters-link"
        [class.active]="(selectedFilter$ | async) === 'all'"
        (click)="onClickAll()"
        >Show all
        <app-radio-button
          class="link-radio"
          [value]="'all'"
          name="priority"
        ></app-radio-button
      ></a>
    </div>
    <mat-radio-group
      aria-label="Select an option"
      class="radio-group"
      name="priority"
      [value]="selectedFilter$ | async"
      (change)="onRadioChange($event)"
    >
      <div *ngFor="let priority of priorityList" class="radio-wrapper">
        <app-radio-button
          [theme]="getRadioTheme(priority)"
          class="radio-button"
          [value]="priority"
          name="priority"
          [label]="getPriorityLabel(priority)"
        ></app-radio-button>
      </div>
    </mat-radio-group>
  </div>
</app-modal>
