@import "../../../../../../styles/mixin.scss";

.column {
    height: 100%;
}

.column-info {
    @extend %align-vertical;
    background-color: var(--primary-bg-cl);
    border-radius: var(--gl-border-radius);
    padding: 18px;
    border: 1px solid var(--primary-bg-cl);
    margin-bottom: 14px;
}

.column-title {
    color: var(--text-forth-cl);
    font-weight: 500;
    font-size: 14px;
    margin: 0 auto 0 0;
    line-height: 1.286;
    text-transform: capitalize;
}

.column-item-icon {
    @extend %primary-icon;

    color: var(--task-text-secondary-cl);
}

.button {
    margin-top: 14px;
}