@import "../../../styles/mixin.scss";

button {
    position: relative;
    height: 28px;
    width: 28px;
    border-radius: 6px;
    border-style: solid;
    outline: none;
    transition: all var(--gl-transition);
    cursor: pointer;
    background-color: var(--square-button-bg-cl);
    border-color: var(--square-button-bg-cl);

    &::after,
    &::before {
        @extend %commonBefore;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: var(--gl-border-radius);
    }

    &::before {
        width: 2px;
        height: 10px;
    }

    &::after {
        width: 10px;
        height: 2px;
    }

    &::after,
    &::before {
        background-color: var(--square-button-after-cl);
    }

    &.colored {
        background-color: var(--square-button-colored-bg-cl);
        border-color: var(--square-button-colored-bg-cl);

        &:hover,
        &:focus {
            background-color: var(--square-button-colored-bg-hover-cl);
            border-color: var(--square-button-colored-bg-hover-cl);
        }

        &::after,
        &::before {
            background-color: var(--square-button-colored-after-cl);
        }

        &::before {
            height: 13px;
        }

        &::after {
            width: 13px;
        }
    }

    &.reversed {
        background-color: var(--square-button-reversed-bg-cl);
        border-color: var(--square-button-reversed-bg-cl);

        &:hover,
        &:focus {
            background-color: var(--square-button-reversed-bg-cl);
            border-color: var(--square-button-reversed-bg-cl);
        }

        &::after,
        &::before {
            background-color: var(--square-button-reversed-after-cl);
        }

        &::before {
            height: 13px;
        }

        &::after {
            width: 13px;
        }
    }

    &.large {
        height: 36px;
        width: 40px;
    }
}
