<aside>
  <div class="sidebar-top">
    <h1><app-logo [size]="logoSize" class="logo"></app-logo> Task Pro</h1>
    <p class="sidebar-subtitle">My boards</p>
    <div class="new-board-wrapper">
      <app-new-board></app-new-board>
    </div>
    <div style="position: relative">
      <app-board-list></app-board-list>
      <app-loader
        *ngIf="loading$ | async"
        [size]="loaderSize"
        type="reversed"
      ></app-loader>
    </div>
  </div>

  <div class="sidebar-bottom">
    <app-faq-info></app-faq-info>
    <a class="logout-link" (click)="onLogout()"
      ><mat-icon class="logout-icon">exit_to_app</mat-icon>Log out</a
    >
  </div>
</aside>
