@import "../../../../styles/mixin.scss";

aside {
    width: var(--gl-sidebar-mobile-width);
    height: 100%;
    background-color: var(--sidebar-bg-cl);
    padding: 14px;
    overflow: auto;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 768px) {
        width: var(--gl-sidebar-tablet-width);
    }

    &::-webkit-scrollbar {
        width: 0.5em;
        height: 0.5em;
        border-radius: 0.5rem;
        background-color: var(--scroll-color);
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--primary-bg-cl);
        border-radius: 0.5rem;
    }
}

h1 {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-primary-cl);
    margin-bottom: 70px;

    .logo {
        margin-right: 0.5rem;
    }

    @media screen and (min-width: 768px) {
        margin-bottom: 60px;
    }
}

.sidebar-subtitle {
    color: var(--text-third-cl);
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

.sidebar-top,
.new-board-wrapper {
    margin-bottom: 40px;
}

.sidebar-bottom {
    margin-top: auto;
}

.logout-link {
    @extend %align-vertical;

    color: var(--text-primary-cl);
    font-weight: 500;
    margin-top: 24px;
    padding: 0 10px;
    transition: all var(--gl-transition);

    &:hover,
    &:focus {
        text-decoration: underline;
    }

    .logout-icon {
        width: 2rem;
        height: 2rem;
        font-size: 2rem;
        margin-right: 14px;
        transition: color var(--gl-transition);
        color: var(--sidebar-board-item-after-cl);
    }
}
