@mixin highDpiBackground($imageFileName) {
    $imagePath: "/assets/#{$imageFileName}";

    @media only screen and (-webkit-min-device-pixel-ratio: 1.3),
        only screen and (min--moz-device-pixel-ratio: 1.3),
        only screen and (-o-min-device-pixel-ratio: 2.6/2),
        only screen and (min-device-pixel-ratio: 1.3),
        only screen and (min-resolution: 124.8dpi),
        only screen and (min-resolution: 1.3dppx) {
        background-image: url("#{$imagePath}");
    }
}

@mixin changeScroll() {
    &::-webkit-scrollbar,
    &::-webkit-scrollbar-thumb {
        border-radius: 0.5rem;
    }

    &::-webkit-scrollbar {
        width: 0.5em;
        height: 12px;
        background-color: var(--primary-bg-cl);
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--scroll-color);
    }
}

%commonBefore {
    display: block;
    content: "";
    width: 100%;
}

%align-vertical {
    display: flex;
    align-items: center;
}

%align-full {
    @extend %align-vertical;
    justify-content: center;
}

%column-direction {
    display: flex;
    flex-direction: column;
}

%board-icon {
    width: 18px;
    height: 18px;
    transition: color var(--gl-transition);
}

%primary-icon {
    width: 1rem;
    height: 1rem;
    font-size: 1rem;
    cursor: pointer;
    color: var(--text-third-cl);
    transition: all var(--gl-transition-cl);

    &:hover,
    &:focus {
        color: var(--primary-cl);
        filter: drop-shadow(0px 0px 5px var(--primary-cl));
    }

    &.edit {
        margin-right: 0.5rem;
    }
}

@mixin backdrop($z-index) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--backdrop-bg-cl);
    z-index: $z-index;
}

