<app-linear>
  <div class="welcome-wrapper">
    <h1 class="welcome-title"><app-logo></app-logo><span>Task Pro</span></h1>
    <p class="welcome-description">
      Supercharge your productivity and take control of your tasks with Task Pro
      - Don't wait, start achieving your goals now!
    </p>
    <div class="welcome-buttons">
      <button class="welcome-signup" (click)="onSignup()">Registration</button>
      <button class="welcome-login" (click)="onLogin()">Log In</button>
    </div>
  </div>
</app-linear>
