.new-board {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 4px 14px 0;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: var(--gl-light-gray-cl);
}

.new-board-text {
    width: 45%;
    color: var(--text-primary-cl);
    margin: 0;

    @media screen and (min-width: 768px) {
        width: 35%;
    }
}


.button {
    position: relative;
    padding: 16px 18px;

    &::before,
    &::after {
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--primary-bg-cl);
        content: '';
        transform-origin: center;
        border-radius: var(--gl-border-radius);
    }

    &::before {
        height: 13px;
        width: 2px;
    }

    &::after {
        width: 13px;
        height: 2px;
    }
}
