.empty-placeholder {
    color: var(--empty-placeholder-text-cl);
    transition: color var(--gl-transition);
    
    .empty-placeholder-link {
        color: var(--primary-cl);
        transition: inherit;
        cursor: pointer;
        
        &:hover,
        &:focus {
            color: var(--accent-cl);
        }
    }
}