<div class="tasks" [class.transparent]="!!boardImage">
  <img
    *ngIf="boardImage"
    [srcset]="getBackgroundImageSrcset()"
    loading="lazy"
    class="background-image"
  />
  <div class="board" *ngIf="(boards$ | async).length > 0">
    <h2
      class="board-title"
      [class.dark]="isDarkBackground()"
      [class.default]="!boardImage"
    >
      {{ (selectedBoard$ | async).name }}
      <a
        class="board-title-filters-link"
        type="button"
        aria-label="filters"
        (click)="onFiltersClick()"
        matBadge="1"
        matBadgeSize="small"
        matBadgePosition="before"
        [matBadgeHidden]="(projectFilter$ | async) === 'all'"
        ><mat-icon svgIcon="filters" class="filters-icon"></mat-icon>Filters</a
      >
    </h2>
    <div class="columns-wrapper">
      <app-columns-list></app-columns-list>
    </div>
  </div>
  <app-empty-placeholder
    class="placeholder-wrapper"
    *ngIf="(boards$ | async).length === 0"
  ></app-empty-placeholder>
</div>
