@import "../../../../styles/mixin.scss";

.tasks {
    position: relative;
    height: 100%;
    padding: 14px var(--gl-tasks-horizontal-mobile-padding);
    width: 100vw;
    background-color: var(--secondary-bg-cl);

    @media screen and (min-width: 768px) {
        padding: 24px var(--gl-tasks-horizontal-table-padding);
    }

    @media screen and (min-width: 1280px) {
        padding: 10px var(--gl-tasks-horizontal-table-padding);
        width: calc(100vw - var(--gl-sidebar-tablet-width));
    }

    &.transparent {
        background-color: transparent;
    }
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.placeholder-wrapper {
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

.board {
    @extend %column-direction;
    height: 100%;
    width: 100%;
}

.board-title {
    @extend %align-vertical;
    justify-content: space-between;

    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 500;
    color: var(--gl-task-dark-title-cl);

    &.default {
        color: var(--text-forth-cl);
    }
    &.dark {
        color: var(--gl-task-light-title-cl);
    }
}

.board-title-filters-link {
    font-size: 14px;
    transition: all var(--gl-transition);

    &:hover,
    &:focus {
        transform: scale(1.05);
        color: var(--primary-cl);
    }

    .filters-icon {
        height: 1rem;
        width: 1rem;
        color: inherit;
        font-size: 2px;
        vertical-align: text-top;
        margin-right: 0.5rem;
    }

    ::ng-deep {
        .mat-badge-content {
            background-color: var(--primary-cl); 
        }
    }
}

.columns-wrapper {
    @include changeScroll();

    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}
