<div class="tasks" [class.transparent]="!!boardImage" >
  <img *ngIf="boardImage" [srcset]="getBackgroundImageSrcset()" loading="lazy" class="background-image">
  <div class="board" *ngIf="(boards$ | async).length > 0">
    <h2 class="board-title">{{ (selectedBoard$ | async).name }}</h2>
    <div class="columns-wrapper">
      <app-columns-list></app-columns-list>
    </div>
  </div>
  <app-empty-placeholder
    class="placeholder-wrapper"
    *ngIf="(boards$ | async).length === 0"
  ></app-empty-placeholder>
</div>
