:root {
    --primary-cl: #BEDBB0;
    --accent-cl: #9DC888;

    --linear: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(190,219,176,1) 100%);
    --logo-bg: #1F1F1F;
    --logo-icon: #fff;
    --welcome-text-cl: #161616;
    
    --input-text-cl:#ffffff30;
    --input-text-hover-cl: #fff;
    --input-border-cl: #bedbb06c;

    --button-cl: #161616;
}   