<app-modal [title]="(isEdit ? 'Edit' : 'Add') + ' card'" [isShown]="true">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <app-input-feedback
      [isShown]="!form.get('title').valid && form.get('title').touched"
      feedback="Title is required"
    >
      <input
        class="input"
        placeholder="Title"
        name="title"
        formControlName="title"
      />
    </app-input-feedback>
    <app-input-feedback
      class="description"
      [isShown]="
        !form.get('description').valid && form.get('description').touched
      "
      feedback="Description is required"
    >
      <textarea
        class="input"
        placeholder="Description"
        name="description"
        formControlName="description"
      ></textarea>
    </app-input-feedback>
    <app-input-feedback
      [isShown]="
        !form.get('labelColor').valid && form.get('labelColor').touched
      "
      feedback="Priority is required"
    >
      <label class="field-label">Label color</label>
      <mat-radio-group
        aria-label="Select an option"
        class="radio-group"
        formControlName="labelColor"
      >
        <app-radio-button
          *ngFor="let priority of priorityList"
          [theme]="getRadioTheme(priority)"
          [value]="priority"
        ></app-radio-button>
      </mat-radio-group>
    </app-input-feedback>
    <label class="field-label">Deadline</label>
    <input
      class="datepicker-input"
      matInput
      [matDatepicker]="picker"
      formControlName="deadline"
      [min]="minDate"
    />
    <mat-datepicker #picker></mat-datepicker>
    <a class="datepicker-trigger" (click)="picker.open()">{{
      form.get("deadline").value | customDate
    }}</a>

    <button class="button withIcon" [@vibrateAnimation]="vibrateState">
      <app-square-button></app-square-button>{{ isEdit ? "Edit" : "Add" }}
    </button>
  </form>
</app-modal>
