@import '../../../styles/mixin.scss';

main {
    display: flex;
    background-color: var(--secondary-bg-cl);
    width: 100%;
    height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.sidebar-wrapper {
    position: relative;
    height: 100%;
    transition: transform 0.5s ease-in-out;

    &:not(.static) {
        position: absolute;
        z-index: 100;
    }

    &:not(.static):not(.shown) {
        transform: translateX(-100%);
    }

    &:not(.static).shown {
        transform: translateX(0%);
    }

}

.tasks-wrapper {
    height: calc(100% - var(--gl-header-height));
}

.sidebar-backdrop {
    @include backdrop(90)
}

app-loader {
    @extend %align-full;
    height: 100%;
    width: 100%;
}