<main>
  <div
    class="sidebar-wrapper"
    [ngClass]="{
      shown: (sidebarShown$ | async),
      static: (layoutType$ | async) === breakpoints.Web
    }"
  >
    <app-sidebar></app-sidebar>
  </div>
  <div
    (click)="onBackdropClick()"
    class="sidebar-backdrop"
    *ngIf="(sidebarShown$ | async) && (layoutType$ | async) !== breakpoints.Web"
  ></div>
  <div class="content">
    <app-header></app-header>
    <app-tasks
      *ngIf="!(loading$ | async); else loader"
      class="tasks-wrapper"
    ></app-tasks>
    <ng-template #loader>
      <app-loader></app-loader>
    </ng-template>
  </div>
  <div *ngSub="modalOptions$; let modalOptions">
    <app-create-board-modal
      *ngIf="modalOptions.key === modalKeys.board"
    ></app-create-board-modal>
    <app-need-help-modal
      *ngIf="modalOptions.key === modalKeys.help"
    ></app-need-help-modal>
    <app-create-project-modal
      *ngIf="modalOptions.key === modalKeys.project"
    ></app-create-project-modal>
    <app-create-task-modal
      *ngIf="modalOptions.key === modalKeys.task"
    ></app-create-task-modal>
  </div>
</main>
