@import './styles/mixin.scss';

:root {
    --gl-white-cl: #fff;
    --gl-border-radius: 0.5rem;
    --gl-error-cl: #f44336;
    --gl-header-height: 60px;
    --gl-transition: 0.25s cubic-bezier(0.4, 0, 0.6, 1);

    --gl-sidebar-mobile-width: 225px;
    --gl-sidebar-tablet-width: 260px;

    --gl-task-light-title-cl: #fff;
    --gl-task-dark-title-cl: #161616;
    --gl-tasks-horizontal-mobile-padding: 20px;
    --gl-tasks-horizontal-table-padding: 32px;
    --gl-tasks-horizontal-table-padding: 24px;
}

html * {
    box-sizing: border-box;
}

.mat-typography,
.mat-typography *:not(.material-icons) {
    font-family: Poppins, "Helvetica Neue", sans-serif;
    letter-spacing: -0.02rem;
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Poppins, "Helvetica Neue", sans-serif;
}

a {
    cursor: pointer;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

textarea {
    max-width: 100%;
}

.input,
.button {
    padding: 14px 18px;
    border-radius: var(--gl-border-radius);
    width: 100%;
    transition: all var(--gl-transition);
    outline: none;
    font-size: 14px;
}

.button.small {
    width: auto;
}

.input {
    border: 1px solid var(--primary-cl);
    background: transparent;
    color: var(--text-forth-cl);
    opacity: 0.6;

    &:hover,
    &:focus,
    &:not(:placeholder-shown) {
        opacity: 1;
    }

    &.ng-touched.ng-invalid {
        border-color: var(--gl-error-cl);

        &:hover,
        &:focus {
            border-color: var(--primary-cl);
        }
    }
}

.button {
    font-weight: 500;
    background-color: var(--primary-cl);
    border: 1px solid var(--primary-cl);
    cursor: pointer;
    color: var(--button-text-cl);

    &:focus,
    &:hover {
        background-color: var(--accent-cl);
        border-color: var(--accent-cl);
    }

    &.secondary {
        background-color: var(--primary-bg-cl);
        border: 1px solid var(--primary-bg-cl);

        color: var(--text-forth-cl);

        &:focus,
        &:hover {
            background-color: var(--text-forth-cl);
            border-color: var(--text-forth-cl);
            color: var(--primary-bg-cl);
        }
    }

    &.withIcon {
        @extend %align-full;

        padding-top: 10px;
        padding-bottom: 10px;
    }

    app-square-button {
        margin-right: 0.5rem;
    }
}
